*.zip
imagesTr/*
SpikeReg/data/*
*.tar
data/*
checkpoints/*
logs/*
*.pyc

L2R_2021_Task3_validation.zip.1
oasis_sample_visualization.png
pairs_val.csv
pairs_val.csv.1
final_logs/*
slurm/*
inference_results_20251108_120509/*
old/*
redundant/*